<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Coffee detail</h2><br>
      <% if @user.id == current_user.id %>
        <%= link_to '', edit_post_path, class: "btn btn-outline-secondary btn-block fas fa-cog" %>
      <% end %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Image</th>
            <th>Contributor</th>
            <th>Brand</th>
            <th>Opinion</th>
            <th>Country</th>
            <th>Comments</th>
            <th colspan="6"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag(@post, :post_image, :fill, 100, 100, fallback: "no_coffee_image.jpg", size: "100x100") %>
            </td>
            <td>
              <%= link_to user_path(@post.user) do %>
              <%= @post.user.name %>
              <% end %>
            </td>
            <td><%= @post.brand %></td>
            <td><%= @post.introduction %></td>
            <td><%= @post.country %></td>
            <td><i class="far fa-comment">　</i><%= @post.post_comments.count %></td>
            <td class="favorite-btn"><%= render 'favorites/favorite', post: @post %></td>
          </tr>
        </tbody>
      </table>
      <div class="commentsArea">
        <%= render 'posts/comment', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>